/* Aplica la imagen de fondo al body */
body {
    background-image: url('https://png.pngtree.com/background/20230528/original/pngtree-the-star-wars-death-star-is-shown-in-black-picture-image_2781985.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Fija el fondo al hacer scroll */
    background-position: center;
    color: white; /* Mejora la legibilidad del texto en el fondo */
    margin: 0; /* Asegúrate de que no haya margen en el body */
  }
  
  /* Estilo transparente para el Navbar */
  .navbar {
    background-color: transparent; /* Fondo completamente transparente */
    color: white; /* Color de texto blanco para que sea legible sobre el fondo */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra opcional para mejor contraste */
  }
  
  
  